FluHomePage {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(29, 29, 29);
}


/* set height cann't work*/

#titleWidget {
    /* height: 450px; */
    /* background-color: aqua; */
    /* background-image: "../../res/GalleryHeaderImage.png"; */
}

#recentlyAddedSamplesLabel,
#recentlyUpdatedSamplesLabel {
    font-size: 18px;
    margin-left: 35px;
    /* font-weight: bold; */
    color: white;
}


/*The scroll view qss*/

#contextWidget {
    background-color: transparent;
}