FluTerminalWidget {
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(48, 48, 48);
    font-size: 14px;
    /* border-radius: 4px; */
    /* border-bottom: 1px solid rgb(154, 154, 154); */
    border: none;
    color: white;
}