FluCommandBarIconItem {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin: 0px;
}

FluCommandBarIconItem:hover {
    background-color: rgba(0, 0, 0, 9);
}

#iconBtn {
    background-color: transparent;
    border: none;
}

/* #textLabel {
    color: black;
} */