/*FluProgressBar*/

QProgressBar {
    background-color: rgb(134, 134, 134);
    border-radius: 3px;
    min-height: 7px;
    max-height: 7px;
}

QProgressBar::chunk {
    background-color: rgb(0, 90, 158);
    border-radius: 3px;
}