FluMSNavigationView {
    /* background-color: transparent; */
    /* background-color: blueviolet; */
    background-color: rgb(40, 44, 52);
}

#topWrapWidget,
#bottomWrapWidget {
    background-color: transparent;
}