FluToggleSwitchEx {
    qproperty-borderColor: rgb(71, 74, 79);
    qproperty-backgroundColor: rgb(44, 48, 54);
    qproperty-indicatorBorderColor: rgb(90, 90, 90);
    qproperty-indicatorBackgroundColor: rgb(90, 90, 90);
}

FluToggleSwitchEx[checked=true] {
    qproperty-borderColor: rgb(0, 90, 158);
    qproperty-backgroundColor: rgb(0, 90, 158);
    qproperty-indicatorBorderColor: rgb(255, 255, 255);
    qproperty-indicatorBackgroundColor: rgb(255, 255, 255);
}