FluVNavigationView {
    /* background-color: aqua; */
    background-color: rgb(33, 37, 43);
}

#srollArea {
    border: none;
    /* background-color: rgb(40, 44, 52); */
    background-color: transparent;
}

#widget1,
#widget2,
#widget3 {
    background-color: rgb(33, 37, 43);
}